.box {
    background-color: aqua;
    height: 600px;
    width: 1000px;
    box-shadow: inset;
    margin: auto;
    border-radius: 40px;
}

.box:hover{
    cursor: pointer;
}



.box1{
    position: absolute;
background-color: blue;
z-index: 1;
width: 150px;
height: 150px;
border-radius: 50%;
color: aliceblue;
margin-top: 200px;
margin-left: 400px;
transition: margin-top 5s, margin-left 1s;
}

.box1 h1{
 margin-top: 50px;
margin-left: 20px;
}
.box:hover .box1{
    background-color: aquamarine;
    color: blue;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
    transition-delay: 2s;
    transition: margin-top 2s, margin-left 2s ;
}



.box2{
    position: absolute;
background-color: red;
width: 150px;
height: 150px;
z-index: 2;
border-radius: 50%;
color: aliceblue;
margin-top: 200px;
margin-left: 400px;
}
.box2 h1{
    margin-top: 50px;
    margin-left: 5px
}
.box:hover .box2{
    background-color: yellow;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 0px;
    border-radius: 10%;
    transition-property: margin-top, margin-right,background-color, border-radius;
    transition-duration: 0.5s, 1s, 1.5s, 2s;
    transition-delay: 0s, 1s, 1.5s;
}




.box3{
    position: absolute;
background-color: green;
width: 150px;
height: 150px;
border-radius: 50%;
color: aliceblue;
margin-top: 200px;
margin-left: 400px;
}
.box3 h1{
    margin-top: 50px;
    margin-left: 5px;
    
}
.box:hover .box3{
    background-color: aquamarine;
    color: blue;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: margin-top 2s, margin-left 2s;
    transition-delay: 4ms;
}

